{% load static %}
<!DOCTYPE html>
<html lang='ru'>
<head style= 'width: 100%'>
  {% comment %} <link rel="icon" href="favicon.jpeg" > {% endcomment %}

    <!-- Обязательные мета-теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, иконки и шрифт -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>   
     <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
     <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    {% if title %}
        <title>Книжная полка{{ title }}</title>
    {% else %}
        <title>Книги на твой вкус</title>
    {% endif %}
</head>
<body >
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}"><i class='bx bx-tada-hover'></i> Bookshelf</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <form class="navbar-nav" method='GET'>
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link " href="{% url 'blog-home' %}">Главная</a>
                  <a class="nav-item nav-link" href="{% url 'blog-about' %}">О ресурсе</a>
              <!-- Правая часть навигационной панели -->
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'post-create' %}">Сделать публикацию</a>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      {% comment %} Поиск {% endcomment %}
       
      {% comment %} <div class="grid row-gap-3 align-items-center justify-content-between">
        <a href='{% url "like-filter" %}' class="btn btn-warning btn-sm mt-1 mb-1">Сначала популярные</a>
        <a class="btn btn-warning btn-sm mt-1 mb-1">Сначала новые</a>
      </div>   {% endcomment %}

      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Патчноут</h3>
            <p class='text-muted'>новости и обновления
              <ul class="list-group">
                {% comment %} <li class="list-group-item list-group-item-light"><a href='https://docs.google.com/document/d/1GEk9BZICknT7nzF1r_US2J29wvT1hceRaacN2ZdgizU/edit?usp=sharing'>Патч 1.1 </a></li>
                <li class="list-group-item list-group-item-light"><a href='https://docs.google.com/document/d/1bb19E6TvMQmW38r-_6ozY7yI-ApLb-6RxEfxMeage5w/edit?usp=sharing'>Патч 1.2 </a></li> {% endcomment %}
                <li class="list-group-item list-group-item-light">...</li>
                <li class="list-group-item list-group-item-light">...</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

    </main>
    <!-- Футер закреплен внизу, независимо от количества постов на странице -->
    <footer style='width: 100%; position: relative' class="footer bg-dark">
      <p><a href="{% url 'blog-home' %}">© Интересно!</a></p>
    </footer>

    <!-- Дополнительные скрипты JavaScript -->
    <!-- Сначала jQuery, затем Popper.js, последним Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>