{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<form method='GET' action="{% url 'search_posts' %}">
  <div class="grid row-gap-3 col-lg-8 d-flex align-items-center justify-content-between">
    <div class="top-0 start-0 p-0 g-col-6 col-lg-8"><input style="height:40px width:60%" type="text" name='q' class="align-line form-control" placeholder="Поиск"></div>
    <div class="p-2 g-col-6 col-lg-8"><input style="height:40px" class="btn btn-secondary" type='submit' value='Найти' class="itemss"></div>
    </div>
  </div>
</form> 
    {% for post in posts %}
        <article class="content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            {% if user.is_authenticated %}  
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <div>
            {% else %}
            </div>
            <h2>{{ post.title }}</h2>
            {% endif %}
            <div>  
              <p class="article-content">{{ post.content }}</p>
              <img class="img-content" src="{{ post.image.url }}">
            </div>
            <div>
              <b>тег:</b> <a href='{% url 'post-list-tag' tag=post.tag %}' class="text-muted">{{ post.tag }}</a>
            </div>
            <div>
              <a><img src={% static "blog/lk.png" %}> {{ post.likes.count }}</a>
            </div>  
          </div>
        </article>
    {% endfor %}
{% endblock content %}