body,
html {
 width:100%;
 height:100%
}

body {
  margin:0;
  padding:0;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family:Roboto;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-blue {
  background-color: #2a1bd0;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500px;
}



.content-section {
  background: #ffffff;
  padding: 1px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow:hidden;
  min-width: 70%;
  max-width: 100%;

}

.article-title {
  color: #444444;
  overflow:hidden;
  word-break:break-all;
}


a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  overflow:hidden;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphenate-limit-chars: 6 3 2;

}

.img-content {
  /* height: 400px; */
  max-width: 80%;
  margin-right: 16px;
  overflow:hidden;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

footer {
 position: sticky!important;
 top: 100%;
 padding-top:25px;
 padding-bottom:25px;
 border-top:1px solid #ddd;
 max-width: 100%;
}

footer p {
 margin:2px;
 text-align:center;
 padding:0 40px;
 color:#fff;
 font-size:12px;
}

footer a{
  color:#777
}

footer a:hover {
  color:#777;
  text-decoration: none;
}

.itemss {
  display:inline-block;
}

.d1 {background: #A3D0C3;}
.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}

.fadeButton {
  opacity: 0;
  transition: opacity 0.5s;
}